@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: B Homa;
    src: url("./assets/Fonts/Homa.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "B Homa", sans-serif;
}

.rtl {
    direction: rtl;
}